  <a name="home"></a>

<app-home></app-home>

  <a name="work"></a>

<app-work></app-work>

  <a name="education"></a>

<app-education></app-education>

  <a name="projects"></a>

<app-projects></app-projects>

  <a name="outside"></a>

<app-outside></app-outside>
<div class="spacer">

</div>
<div class="the-icons menu">
  <a href="#home"><span class="glyphicon glyphicon-home"></span></a>
  <a href="#work"><span class="glyphicon glyphicon-briefcase"></span></a>
  <a href="#education"><span class="glyphicon glyphicon-education"></span></a>
  <a href="#projects"><span class="glyphicon glyphicon-picture"></span></a>
  <a href="#outside"><span class="glyphicon glyphicon-sunglasses"></span></a>
  <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
</div>
