  <a name="home" id="home"></a>

<app-home></app-home>

  <a name="work" id="work"></a>

<app-work></app-work>

  <a name="education" id="education"></a>

<app-education></app-education>

  <a name="projects" id="projects"></a>

<app-projects></app-projects>

  <a name="outside" id="outside"></a>

<app-outside></app-outside>
<div id="spacer" class="light-tan">
</div>
<div class="the-icons menu">
  <a (click)="smoothScroll('home')"><span class="glyphicon glyphicon-home"></span></a>
  <a (click)="smoothScroll('work')"><span class="glyphicon glyphicon-briefcase"></span></a>
  <a (click)="smoothScroll('education')"><span class="glyphicon glyphicon-education"></span></a>
  <a (click)="smoothScroll('projects')"><span class="glyphicon glyphicon-picture"></span></a>
  <a (click)="smoothScroll('outside')"><span class="glyphicon glyphicon-sunglasses"></span></a>
  <a href="mailto:joel.gonzaga@gmail.com?Subject=Hello from your site!"><span class="glyphicon glyphicon-envelope"></span></a>
</div>
