
  <div class="the-icons menu">
    <a href="#home"><span class="glyphicon glyphicon-home"></span></a>
    <a href="#work"><span class="glyphicon glyphicon-briefcase"></span></a>
    <a href="#education"><span class="glyphicon glyphicon-education"></span></a>
    <a href="#projects"><span class="glyphicon glyphicon-picture"></span></a>
    <a href="#outside"><span class="glyphicon glyphicon-sunglasses"></span></a>
  </div>
<div>
  <a name="home"></a>
</div>
<app-home></app-home>
<div>
  <a name="work"></a>
</div>
<app-work></app-work>
<div>
  <a name="education"></a>
</div>
<app-education></app-education>
<div>
  <a name="projects"></a>
</div>
<app-projects></app-projects>
<div>
  <a name="outside"></a>
</div>
<app-outside></app-outside>
