<div id="main-background" class="row">
  <div class="col-xs-3">
    <img
      id="biopic"
      src="https://firebasestorage.googleapis.com/v0/b/personal-site-backend.appspot.com/o/avatars%2Fjoel-port.JPG?alt=media&token=972e896d-a6ac-42bf-aea6-6e4cbc9cf241"
      >
  </div>
  <div class="col-xs-9">
    <h2> Joel Gonzaga</h2> <span class="white-text" style="font-size: 16px">Desktop Support Pro</span>
    <ul>
      <li *ngFor="let string of skillarray"><span class="white-text">{{ string }}</span></li>
    </ul>
  </div>
</div>
