/* You can add global styles to this file, and also import other style files */
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.menu {
  position: fixed;
  top: 0;
  background-color: black;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.menu span {
  background-color:black;
}

.spacer {
  opacity: 0;
}

/* Adjust for Smart Phone */
@media screen and (max-width: 479px) {
    .menu span {
      font-size: 30px;
    }

    .spacer {
      height: 40px;
    }

}
