<div class="sub-header">
  <h1>Personal Life</h1>
</div>
<div class="light-tan">
<p>I'm lucky to live in Los Angeles where you can find supportive communities for creative pursuits.</p>
    <p>I've played classical guitar for over fifteen years. I've
      performed at weddings and other events for friends and family. This piece,
       <a href="https://firebasestorage.googleapis.com/v0/b/personal-site-backend.appspot.com/o/music%2FA_Way_of_Life_fingered.pdf?alt=media&token=53d7857e-387c-4717-921f-86cf2c550d9b"><em>A Way of Life</em></a>
      from Hans Zimmer's Last Samurai soundtrack turned out well on classical guitar. I spent one day arranging it
      and several hours practicing it. This ancient Icelandic hymn
      <a href="https://firebasestorage.googleapis.com/v0/b/personal-site-backend.appspot.com/o/music%2FHeyr-Himna-Smidur.pdf?alt=media&token=ccc756b8-3790-4e6d-be66-865f4aeabc7f"><em>Heyr Himna Smidur</em></a>, also sounds great on six strings.
    <p>What is the writer's equivalent of a marathon run? <a href="http://www.nanowrimo.org">NaNoWriMo</a>
       which stands for "National Novel Writing Month", is exactly that. Every November, writers from
       all over the globe connect and commit to writing their own 50k word novels. The
       emphasis is on completing a draft by a deadline. The deadline and supportive community
       helped me achieve this goal every year that I've attempted.
    </p>
  </div>
