<div class="sub-header">
  <h1>Work</h1>
</div>
<app-work-entry
  *ngFor="let entry of workarray"
  [entry]="entry"
  [index]="workarray.indexOf(entry)"
  >
</app-work-entry>
<!--
<p>
  This is a paragraph of Work!
</p>
<p>in principio erat Verbum et Verbum erat apud Deum et
  Deus erat Verbum 2 hoc erat in principio apud Deum
  3 omnia per ipsum facta sunt et sine ipso factum
  est nihil quod factum est 4 in ipso vita erat et
  vita erat lux hominum 5 et lux in tenebris lucet
  et tenebrae eam non conprehenderunt 6 fuit homo
  missus a Deo cui nomen erat Iohannes 7 hic venit
  in testimonium ut testimonium perhiberet de
  lumine ut omnes crederent per illum 8 non erat
  ille lux sed ut testimonium perhiberet de lumine
  9 erat lux vera quae inluminat omnem
  hominem venientem in mundum 10 in mundo erat
  et mundus per ipsum factus est et mundus eum
  non cognovit 11 in propria venit et sui eum
  non receperunt 12 quotquot autem receperunt
  eum dedit eis potestatem filios Dei fieri his
  qui credunt in nomine eius 13 qui non ex
  sanguinibus neque ex voluntate carnis neque
  ex voluntate viri sed ex Deo nati sunt 14 et
  Verbum caro factum est et habitavit in nobis
   et vidimus gloriam eius gloriam quasi unigeniti
   a Patre plenum gratiae et veritatis </p>
-->
